@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NSBE 49th Annual Convention</h1>
    <h2>Thank you for coming to learn about Azure App Service</h2>
    <h4>Brought to you by Hawk Foreste from the Azure App Services</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
